*{
    margin: 0;
    padding: 0;
}


main {
    position: fixed;
    top: 0;
    right:0;
    width: 100%;
    background-color: black;
    background: linear-gradient(to top, rgba(0,0,0,0.4)50%, rgba(0,0,0,0.4)50%), url(/images/contactbackground.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;

}

.logotitle a {
    text-decoration: none;
    position: fixed;
    color:white;
    top:0;
    left:44.8%;
    width: 90px;
    height: 90px;
    cursor: pointer;
}

.logo {
    position: fixed;
    top:0;
    left:40%;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.line {
    background-color: #111;
    border: 2px black;
    height: 1px;
    margin-top: 45px;
}
.top {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: black;
    opacity: 0.8;
    height: 83px;
}

.list{
    flex: 1;
    text-align: right;


}

.list li{
    display: inline-block;
    list-style: none;
    margin: 0 20px;
}

#signin {
    background-color:  #29BEF5;
    position: fixed;
    top: 18px;
    right: 20px;
    border: #29BEF5;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


#signin:hover{
    background-color:  white;
    border: white;
    color: #29BEF5;
    transition: background 0.5s, margin-left 0.5s;
}

.text-container {
    display: block;
    max-width: 600px;
    margin-top: 7%;
    margin-left: 50%;
    margin-bottom:2%;
    color: white;
    padding: 20px;
    box-shadow: 5px 5px;
    position: left;
    top:50%;
    left:3%;



}
.text-container h1 {
    font-size: 90px;
    font-family: Arial;
    font-weight: 400;
    font-weight: 500;
    background-color: white;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

}
.text-container h1 span {
    font-size: 90px;
    font-weight: 400;
    color: #fdfdfe;
    text-shadow: 0px 0px 5px #29BEF5, 0px 0px 10px #29BEF5, 0px 0px 10px #29BEF5,
      0px 0px 20px #29BEF5;
}

.text-container p{
    font-size: 50px;
    font-family: Arial;
    font-weight: 400;
    font-weight: 500;
    background-color: white;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to left, #aaa, #fff);

}



img {
    display: block;
    position: left;
    max-width: 100%;
    height: 370px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 0%;
    left: 0%;
}
